@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,400&family=Overpass:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Overpass";
}
body{
    background-color: rgb(18, 20, 23);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.card{
    color:white;
    /* border: 1px solid white; */
    height: 400px;
    width: 450px;
    border-radius: 25px;
    background-color:hsl(213, 19%, 18%)
}
.star-card{
    margin: 30px;
    /* border: 1px solid white; */
    /* padding: 20px; */
    height: 50px;
    width: 50px;
    border-radius: 50px;
    padding: 16px;background-color: hsl(212, 28%, 14%);
}
.card-content{
    margin-left: 30px;
    width: 350px
}
.card-content > h2{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    font-family: "Overpass";
}
.card-content > p{
    opacity: 0.6;
    font-weight: 400;
    font-family: "Overpass";
}
.submit-card{
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-weight: 400;
    width: 390px;
    height: 50px;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    transition: all 0.6s ease;
}
.submit-card:hover{
    cursor: pointer;
    background-color: white;
    color: hsl(25, 97%, 53%);
}
.rating-comp{
    display: flex;
    justify-content: center;
    width: 390px;
    gap: 20px;
}
.not-active{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: hsl(210, 13%, 22%);
    color: white;
    border: none;
    margin: 20px 0px;
    font-size: 16px;
}
.active{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: hsl(210, 13%, 22%);
    color: white;
    border: none;
    margin: 20px 0px;
    font-size: 16px;
    background-color: white;
    color:  hsl(25, 97%, 53%);
}
.thank-you{
    color: white;
}
.thank-you > svg{
    display: flex;
    justify-content: center;

}
.card-thankyou{
    color:white;
    /* border: 1px solid white; */
    height: 400px;
    width: 450px;
    border-radius: 25px;
    background-color:hsl(213, 19%, 18%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding: 20px 20px 0px 20px;

}

.card-thankyou > svg{
    margin-top: 50px;
    justify-content: center;
}
.thankyou-rating{
    background-color: hsl(210, 13%, 22%);
    height: 30px;
    padding: 5px;
    width: 180px;
    border-radius: 10px;

}
.tk-para{
    align-self: center;
    padding:0px 22px;
}